.single-slider-item h1 span{color:#009ebc;}
.single-slider-item span a {color:#009ebc;}
.homepage-slides .owl-nav div{background:transparent;}
.cleaning-btn{background:#009ebc;border:1px solid #009ebc; color: #fff;}
